/*body {*/
/*  max-width: 500px;*/
/*}*/

.json-container {
  display: none;
}
.container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  height: 100%;
  width: 100%;
}
.container-left {
  margin-top: 40px;
}
.example-form {
  margin: 20px;
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}
.perfil {
  height: 150px;
}
.container-name {
  width: 48%;
  margin-right: 20px;
}

.container-lastName {
  width: 48%;
}
.button-education {
  margin-bottom: 10px;
  margin-right: 10px;
}
.button-work {
  margin-top: 16px;
  margin-right: 10px;
}

.button-skills {
  margin-top: 16px;
  margin-bottom: 10px;
}
.button-json {
  display: none;
}
@media screen and (max-width: 500px) {
  .json-container {
    display: flex;
    flex-flow: column nowrap;
  }
  pre {
    max-width: 50px;
  }
  .button-json {
    display: flex;
    margin-left: 20px;
  }
  button {
  }
}
